
#ini{

position:absolute;
border:solid 1px yellow;
color:whitesmoke;
font: solid bold ;
    border-radius: 25px;
    padding: 20px;
  
    background: maroon;
    width: 24%;
    height: 37%;

    margin-top: 2%;
    
    left: 38%
    
}


#inicio{

position: absolute;
border:solid 1px yellow;
color:whitesmoke;
font: solid bold ;
    border-radius: 25px;
    padding: 20px;
  
    background: khaki;
    width: 28%;
    height: 25%;

    margin-top: 2%;
    
    left: 35%
    
    
}